// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor::shadow {
  atom-text-editor-minimap.scrolling:hover, atom-text-editor-minimap:hover{
    &.absolute {
      opacity: 1;
      left: 90%;
      
      &.left {
          position: relative;
          right: initial;
          left: initial;
        }
    }
  }
  
  atom-text-editor-minimap { //fixme: change this and set function on script
    &.absolute {
      animation-delay 0.5
      left: 100%;
      background: rgba(0,0,0,0.2);
      position: absolute;
      transition: left 0.1s, opacity 0.2s;
      opacity: 0.05;
      
      &.left {
        position: relative;
        left:-10%
      }
    }
  }
}

